.caja-1{
    width: 300px;
    height: 80px;
    background-color: blue;
    font-size: 85px;
    color: white;
}

.caja-2{
    font-size: 85px;
    color: white;
    width: 300px;
    height: 80px;
    background-color: red;
}
.caja-3{
    font-size: 85px;
    color: white;
    width: 300px;
    height: 80px;
    background-color: orange;
}
.caja-4{
    font-size: 85px;
    color: white;
    width: 300px;
    height: 80px;
    background-color: violet;
}
.caja-5{
    font-size: 85px;
    color: white;
    width: 300px;
    height: 80px;
    background-color: darkcyan;
}
.caja-6{
    font-size: 85px;
    color: white;
    width: 300px;
    height: 80px;
    background-color: green;
}
.contenedor{
    display: flex; /*Lo vuelve caja flexible*/
    flex-direction: row; /*"Puede variar entre "row","row-reverse","column","column-reverse""*/
    justify-content: center; /*center,flex-start,flex-end,space-between*/
    flex-wrap: wrap; /*cuando no halla espacio lo mande a la siguiente linea*/
    align-items: flex-end; /*alinea todos los items "flex-end,center,flex-start"*/
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center; /*center,flex-end,flex-start*/
}